<button type="button" id="startRoom" class="btn btn-primary">
    <a href="/createRoom">Start Room</a>
</button>
<button type="button" id="joinRoom" class="btn btn-primary">
  <a href="/rooms">Join Room</a>
</button>
<button type="button" class="btn btn-primary">
  <a href="/logout">Logout</a>
</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  $(document).ready(function() {
    var id = '{{ id }}';
    localStorage.setItem("spotifyId", id);
  })
</script>
<script src="/script.js"></script>
