<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/static/stylesheets/style.css' />

</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div style="margin-top: 15%">
				<div class="col-sm-5">
					<h1 class="text-center">Auxen<img class="logo" src="./static/images/logo.svg"></h1>
					<h2 class="text-center">Create a following from your music taste</h2>
					<a href="/auth/spotify"><img class="login-button img-responsive" src="./static/images/login_button.svg"></a>
				</div>
			</div>
		</div>


	</div>
</body>
</html>
