<head>
  <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>


<div class="container">
  <div class="wrapper">
    <div class="container-fluid" >
    	<div style="display: flex; justify-content: center; margin-left: 50%; margin-right: auto; margin-top: 5%">
    		<a class="topLevel text" id="createRoom" ><span class="text-center raise boxed headertext text">Create</span></a>
    		<img src="/static/images/leftaux.svg" class="img-responsive animated slideInRight" style="position: sticky; margin-top: 10%;">
    	</div>
    		<br><br>
    	<h2 class="text middle">OR</h2>
    		<br><br>
    		<div style="display: flex; justify-content: center; margin-right: 50%; margin-left: auto;">
    			<img style="position: sticky;" class="img-responsive text animated slideInLeft" src="/static/images/rightaux.svg" alt="">
    			<a class="standard-text" id="joinRoom"><span class="text-center raise boxed text headertext"><span class="text headertext" style="opacity: 0">1</span>Join<span class="text headertext" style="opacity: 0">1</span></span></a>
    		</div>
    </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  $(document).ready(function() {
    var spotifyId = '{{spotifyId}}';
    var imageURL = '{{imageURL}}'
    var username = '{{username}}'
    localStorage.setItem("spotifyId", spotifyId);
    localStorage.setItem("imageURL", imageURL);
    localStorage.setItem("username", username);
  })
</script>
<script src="/static/script.js"></script>
<script>
function searchFunction() {
	// Declare variables
	var input, filter, div, h1, i;
	input = document.getElementById('myInput');
	filter = input.value.toUpperCase();
	div = document.getElementById("listofRooms");
	h1 = div.getElementsByTagName('h1');

	// Loop through all h1st items, and hide those who don't match the search query
	for (i = 0; i < h1.length; i++) {
		console.log(h1.length);
		if (h1[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
			h1[i].style.display = "";
		} else {
			h1[i].style.display = "none";
		}
	}
};
</script>
