<head>
  <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>


<div class="container">
  <div class="wrapper">
    <div class="container-fluid" >
    	<div style="display: flex; justify-content: center; margin-left: 50%; margin-right: auto; margin-top: 5%">
    		<a class="topLevel text" id="createRoom" ><span class="text-center raise boxed headertext text">Create</span></a>
    		<img src="/static/images/leftaux.svg" class="img-responsive" style="position: sticky; margin-top: 10%;">
    	</div>
    		<br><br>
    	<h2 class="text middle">OR</h2>
    		<br><br>
    		<div style="display: flex; justify-content: center; margin-right: 50%; margin-left: auto;">
    			<img style="position: sticky;" class="img-responsive text" src="/static/images/rightaux.svg" alt="">
    			<a class="text" id="joinRoom"><span class="text-center raise boxed text headertext"><span class="text headertext" style="opacity: 0">1</span>Join<span class="text headertext" style="opacity: 0">1</span></span></a>
    		</div>
    </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  $(document).ready(function() {
    var spotifyId = '{{spotifyId}}';
    var imageURL = '{{imageURL}}'
    var username = '{{username}}'
    localStorage.setItem("spotifyId", spotifyId);
    localStorage.setItem("imageURL", imageURL);
    localStorage.setItem("username", username)
  })
</script>
<script src="/static/script.js"></script>
<script>
  function searchFunction() {
      // Declare variables
      var input, filter, ul, li, a, i;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("listofRooms");
      li = ul.getElementsByTagName('li');

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("button")[0];
          if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
          }
      }
  };
</script>
