{{#if rooms}}
<h3>List of available rooms</h3>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<ul id="myUL">
{{#each rooms}}
  <li><a href="#"><button type="button" class="joinexistingRoom" data-id="{{roomName}}">{{roomName}}</button></li>
{{/each}}
</ul>
{{else}}
<h3>Sorry no available room</h3>
{{/if}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="/static/script.js"></script>
